<div class="form-container card p-5 m-auto w-75">
  <div class="text-center"> 
    <% if current_user.pfp.attached? %>
      <%= image_tag(current_user.pfp, class: 'pfp-large mb-4', id: 'pfp-preview') %>
    <% else %>
      <%= image_pack_tag('default-pfp.jpg', class: 'pfp-large mb-4', id: 'pfp-preview') %>
    <% end %>
    <h1><%= current_user.username %></h1>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group">
      <%= f.label :email, class: 'col-form-label-lg' %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-lg" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-group">
      <%= f.label :username, class: 'col-form-label-lg' %><br />
      <%= f.text_field :username, autofocus: true, autocomplete: "email", class: "form-control form-control-lg" %>
    </div>

    <div class="form-group">
      <%= f.label :pfp, class: 'col-form-label-lg' %>
      <br>
      <div class="form-group custom-file">
        <%= f.file_field :pfp, class: "custom-file-input", id: "pfpFile" %>
        <label class="custom-file-label" for="pfpFile">Choose profile picture </label>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password, class: 'col-form-label-lg' %> <br> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control form-control-lg" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, class: 'col-form-label-lg' %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control form-control-lg" %>
    </div>

    <div class="form-group">
      <%= f.label :current_password, class: 'col-form-label-lg' %> <br> <i class='mb-2'>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control form-control-lg" %>
    </div>

    <div class="actions text-center m-5">
      <%= f.submit "Update", class: 'btn btn-success larger-button mb-5 mx-1' %>
      <%= link_to "Back", :back, class: 'btn btn-primary larger-button mb-5 mx-1' %>
    </div>
  <% end %>

  <div class="card text-center w-50 m-auto">
    <div class="card-header">
      <h3 class="card-title">Cancel account</h3>
    </div>
    <div class="card-body">
      <h4>Unhappy?</h4>
      <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger larger-button m-3' %>
    </div>
  </div>
</div>

<script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function() {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });

    pfpInput = document.getElementById("pfpFile");
    pfp = document.getElementById("pfp-preview");

    pfpInput.onchange = evt => {
      const [file] = pfpInput.files;
      if (file) {
        pfp.src = URL.createObjectURL(file);
      }
    }
  </script>
