<%= form_with(model: video) do |form| %>
  <div class="form-container card p-5 m-auto w-75">
    <% if video.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(video.errors.count, "error") %> prohibited this video from being saved:</h2>

        <ul>
          <% video.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>


    <div class="custom-file mb-3">
      <%= form.file_field :file, class: "custom-file-input" %>
      <label class="custom-file-label" for="customFile">Choose video file</label>
    </div>

    

    <div class="form-group">
      <%= form.label :title, class: 'col-form-label-lg' %>
      <br>
      <%= form.text_field :title, class: "form-control form-control-lg" %>
    </div>

    <div class="form-group">
      <%= form.label :description, class: 'col-form-label-lg' %>
      <br>
      <%= form.text_area :description, class: "form-control form-control-lg" %>
    </div>

    <div class="form-group">
      <%= form.label :thumbnail, class: 'col-form-label-lg' %>
      <br>
      <div class="custom-file mb-3">
        <%= form.file_field :thumbnail, class: "custom-file-input", id: "thumbnailFile" %>
        <label class="custom-file-label" for="thumbnailFile">Choose thumbnail image</label>
      </div>
    </div>
    <div class="w-75 mb-4">
      <img src="" id="thumbnail-preview" class="w-100">
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  </div>

  <script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function() {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });

    thumbnailInput = document.getElementById("thumbnailFile");
    thumbnail = document.getElementById("thumbnail-preview");

    thumbnailInput.onchange = evt => {
      const [file] = thumbnailInput.files;
      if (file) {
        thumbnail.src = URL.createObjectURL(file);
      }
    }
  </script>
<% end %>
