<h1 class="text-center mb-5">Home</h1>

<div class="row mb-3">

  <% @videos.each do |video| %>
    <div class="col-md-4 mb-3">
      <div class="card">
        <%= image_pack_tag('no-thumbnail.jpg', class: 'card-img-top') %>
        <div class="card-body">
          <%= link_to video do %>
          <h3 class="card-title"><%= video.title %></h5>
          <% end %>
            <h5>By: <%= video.user.username || 'Anonymous' %> </h5>
          <p><%= video.description.truncate(55, separator: /\s/) %></p>
        </div>
        <div class="card-footer">
          <p><%= video.views %> views</p>
          <p>Uploaded <%= video.created_at.strftime('%d.%m.%Y') %></p>
        </div>
      </div>
    </div>
  <% end %>

</div>
