<h1 class="text-center mb-5">Home</h1>

<div class="row mb-3">

  <% @videos.each do |video| %>
    <div class="col-md-4 mb-4">
      <div class="card">
        <%= link_to video do %>
          <%= image_pack_tag('no-thumbnail.jpg', class: 'card-img-top') %>
        <% end %>
        <div class="card-body">
          <%= link_to video do %>
          <h3 class="card-title"><%= video.title %></h5>
          <% end %>
          <div class="d-flex align-items-center">
            <%= image_pack_tag('default-pfp.jpg', class: 'pfp-small') %>
            <h5 class="d-inline ml-2 mb-0"><%= video.user.username || 'Anonymous' %> </h5>
          </div>
          <!--<p><%= video.description.truncate(55, separator: /\s/) %></p>-->
        </div>
        <div class="card-footer">
          <p class="mb-0"><%= video.views %> views | <%= time_ago_in_words(video.created_at) %> ago</p>
        </div>
      </div>
    </div>
  <% end %>

</div>
