<!DOCTYPE html>
<html>
  <head>
    <title>Watchit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="card-body row navbar navbar-dark bg-dark d-flex flex-row flex-wrap align-items-center justify-content-between p-2">
      <%= link_to root_path, class: 'header-logo col m-4 text-light text-left' do %>
        <%= image_pack_tag('logo.png', class: 'logo') %>
      <% end %>
      <div class="header-links col d-flex justify-content-end align-items-center">
        <%= display_session_links %>
      </div>
    </header>
    <div class="card-footer search-bar-container row navbar navbar-secondary bg-lightdark py-3 d-flex flex-row flex-wrap align-items-center justify-content-center">
      <input type="text" class="search-input form-control mr-2 p-3" placeholder="Search" id="searchInput" />
      <button class="btn btn-outline-light search-btn" id="searchButton"><i class="fas fa-search"></i></button>
      <script>
        document.getElementById("searchButton").onclick = function() {
          let query = document.getElementById("searchInput").value;
          if (query.trim() != "") {
            window.location = `/videos/search/${query.trim()}/recent`;
          }
        }
      </script>
    </div>
    <div class="container p-3">
      <p class="notice"><%= notice %></p>
      <p class="alert p-0"><%= alert %></p>
      <%= yield %>
    </div>
    <footer>
    
    </footer>
  </body>
</html>
